{{ if not .Site.Params.hideColorSchemeToggle }}
<div class="float-container">
    <div class="theme-toggle-wrapper">
        <label class="theme-toggle" for="theme-switch" title="Toggle theme">
            <input type="checkbox" id="theme-switch" aria-label="Toggle theme" />
            <span class="toggle-track">
                <span class="toggle-thumb">
                    <i class="fa-solid fa-sun sun-icon" aria-hidden="true"></i>
                    <i class="fa-solid fa-moon moon-icon" aria-hidden="true"></i>
                </span>
            </span>
        </label>
    </div>
</div>

{{ end }}
