body {
    background-color: var(--body-background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 1.1rem;
    line-height: 1.6;
}

.highlight {
    box-shadow: 1px 1px 1px 1px #a8a8a8;
}

.post-meta {
    margin-top: 20px;
}

.footer {
    font-size: small;
}

section.container.list > ul > li {
    display: block;
}

.mastodon-comment {
    background-color: var(--body-background);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin-bottom: 1rem;
}

.mastodon-comment .content {
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: auto auto;
    grid-template-areas:
        "avatar author"
        "avatar date";
}
.mastodon-comment .avatar img {
    margin-right: 1rem;
    min-width: 60px;
    max-width: 60px;
    max-height: 60px;
}
.mastodon-comment .author {
    padding-top: 0;
    text-align: start;
    grid-row: 1;
}
.mastodon-comment .date {
    margin-left: auto;
}

.mastodon-comment-content {
    grid-row: 2;
}

.mastodon-comment .disabled {
    color: var(--accent-color);
}

.mastodon-comment-content p:first-child {
    margin-top: 0;
}

.container {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
}


.color-scheme-toggle {
    transition: all 0.5s ease;
}
