<footer class="footer">
    Commit
    <a href="https://github.com/vrutkovs/blog/commit/{{ .Site.Data.git.git_hash_short }}"
        >{{ .Site.Data.git.git_hash_short }}</a
    >&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"
        ><img
            alt="Creative Commons License"
            style="border-width: 0"
            src="https://i.creativecommons.org/l/by/3.0/80x15.png" /></a
    >&nbsp;
    <div style="color: white; border: none">
        <a style="color:inherit; border: inherit, outline: none" href="https://vrutkovs.eu/cgi-bin/"
            >sign my guestbook</a
        >
    </div>
</footer>
