<!doctype html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <base href="{{ .Site.BaseURL }}" />
        <title>{{ .Title }}: vrutkovs.eu</title>
        <link rel="canonical" href="{{ .Permalink }}" />
        {{ with .OutputFormats.Get "rss" }} {{ printf `
        <link rel="%q" type="%q" href="%q" title="%q" />
        ` .Rel .MediaType.Type .Permalink site.Title | safeHTML }} {{ end }}
    </head>
</html>
