<section class="container list">
  <h1 class="title">
    {{- if eq .Kind "taxonomy" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
    {{- end -}}

    {{- .Title -}}
  </h1>
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      {{ if .Params.ExternalLink }}
      <a class="title" href="{{ .Params.ExternalLink }}" target="_blank" rel="noopener noreferrer">{{ .Title }} <i class="fa-solid fa-arrow-up-right-from-square fa-sm" aria-hidden="true"></i></a>
      {{ else }}
      <a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
