{{ with .Site.Params.social }}
<ul>
  {{ range sort . "weight" }}
    {{ if .icon }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} target="_blank" rel="noopener" {{ if .type }}type="{{ .type }}"{{ end }}>
          <i class="{{ .icon }}" aria-hidden="true"></i>
          <span class="sr-only"> (opens in a new tab)</span>
        </a>
      </li>
    {{ else }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} target="_blank" rel="noopener">{{ .name }}<span class="sr-only"> (opens in a new tab)</span></a>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ end }}