{{ with .Site.Params.social }}
<ul>
  {{ range sort . "weight" }}
    {{ $rel := .rel }}
    {{ if ne $rel "me" }}
      {{ $rel = "noopener noreferrer" }}
    {{ end }}
    {{ if .icon }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" rel="{{ $rel }}" target="_blank" {{ if .type }}type="{{ .type }}"{{ end }}>
          <i class="{{ .icon }}" aria-hidden="true"></i>
        </a>
      </li>
    {{ else }}
      <li>
        <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" rel="{{ $rel }}" target="_blank">{{ .name }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>
{{ end }}