.highlight {
  box-shadow: 1px 1px 1px 1px #a8a8a8;
}

.post-meta {
  margin-top: 20px
}

.footer {
  font-size: small;
}

section.container.list > ul > li {
  display: block;
}

.mastodon-comment {
  background-color: var(--body-background);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin-bottom: 1rem;
  display: flex;
}

.mastodon-comment .content {
  flex-grow: 2;
}
.mastodon-comment .avatar img {
  margin-right: 1rem;
  min-width: 60px;
}
.mastodon-comment .author {
  padding-top: 0;
  display: flex;
}
.mastodon-comment .date {
    margin-left: auto;
}
.mastodon-comment .disabled {
  color: var(--accent-color)
}

.mastodon-comment-content p:first-child {
    margin-top: 0;
}
